<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head.html.twig' %}
  </head>
  <body>
    {% include 'partials/header.html.twig' %}
    
    <section class="clearfix mx2n">
      <div class="col-7 px2 mx-auto">
        <h2 class="center h3 h0-responsive break-word mt0 mb0 regular">lets design for a user centered web</h2>
      </div>
    </section>

    {% include 'partials/home-3up.html.twig' %}
  </body>
</html>