<!DOCTYPE html>
<html lang="en">

  {% include 'partials/head.html.twig' %}

  <body>
    
    {% include 'partials/header.html.twig' %}

    {% include 'partials/footer.html.twig' %}

  </body>
</html>