<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'partials/head.html.twig' %}
  </head>
  <body>
    {% include 'partials/header.html.twig' %}
    
    <section class="clearfix mx2n">
      <div class="col-6 px2 mx-auto rounded">
        <h2 class="center h2 h0-responsive caps mt0 mb0 regular">jchck mnml</h2>
      </div>
    </section>

    {% include 'partials/home-3up.html.twig' %}
  </body>
</html>