<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
{% if header.description %}
	<meta name="description" content="{{ header.description }}">
{% else %}
	<meta name="description" content="">
{% endif %}
	<meta name="author" content="jchck">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
	{% do assets.add('theme://dest/css/basecss.css',100) %}
	{{ assets.css() }}
</head>