<header class="center py2">
  <a href="/" class="relative inline-block">
    <object type="image/svg+xml" data="{{ url("theme://img/logo.svg") }}"></object>
  </a>
</header>

<div class="center white bg-gray bg-cover bg-center" style="background-image: url(http://justinchick.com/wp-content/themes/my-site/assets/img/bg/8.jpg);">
  <nav class="clearfix black">
    <div class="sm-col">
      <a href="/" class="button py-2 button-transparent">About</a>
      <a href="/" class="button py-2 button-transparent">Notebook</a>
      <a href="/" class="button py-2 button-transparent">Subscribe</a>
      <a href="/" class="button py-2 button-transparent">Contact</a>
    </div>
    <div class="sm-col-right">
      <a href="/" class="button py-2 button-transparent">Home</a>
    </div>
  </nav>

  <h1 class="h1 h0-responsive caps mt4 mb0 regular">jchck mnml</h1>
  <p class="h3">Sloppy Jaloppy</p>
  <a href="/" class="h3 button button-big mb4">Let's Do It!</a>
</div>